<div class="container py-4">
  <%= link_to collections_path do %>
    <i class="ph-arrow-left" id="back-arrow"></i>
  <% end %>

  <h1>New collection</h1>

  <%= render 'form', collection: @collection, restaurant_id: @restaurant_id %>
</div>
