
.container-home {
  width: 100%;
  height: 100vh;
}

.banner {
  background-size: cover;
  background-position: 0% 75%;
  padding: 20px;
  width: 100%;
  // height: 100%;
  height: 100vh;
}

.container-banner {
  margin-left: 20px;
  margin-right: 20px;
  height: 100vh;
  height: 100%;
}


.container-header {
  width: 100%;
  margin-bottom: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    // margin-right: 60px;
  }
}

.container-login {
  // button {
  //   transition: all .4s ease-out;
  // }
  // button:hover {
  //   transform: translate(-1px, -2px);
  //   #login-link, #logout-link {
  //   color: $gray;
  //   text-decoration: none;
  //   }
  //   #signup-link{
  //     color:$white;
  //     text-decoration: none;
  //   }
  // }

  // button #signup-link:hover {
  //   color: $white;
  // }
  // a {
  //   font-size: 20px;
  //   color: $white;
  // }
}

.container-info {
  width: 60%;
  // margin-left: 30px;
  // max-width: 950px;
  h1 {
    color: $white;
    margin-bottom: 1rem;
  }
}
.notice {
  margin: 0;
}

.highlight {
  background: url(assets/highlight.png);
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: 0 50%;
  padding: 8px 0;
  z-index: 1;
}

@media (max-width: 960px) {
  .container-home {
    width: 100%;
  }
  .container-header{
    margin-bottom: 220px;
  }
  .container-login{
    margin-left: 20px;
    button {
      box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
      margin-left: 0;
      // margin-top: 20px;
    }
  }
}

@media (max-width: 740px) {
  /* For a screen < 720px, this CSS will be read */
  .container-home {
    width: 100%;
  }

  .container-info {
    margin-left: 20px;
    h1 {
      font-size: 55px;
    }
  }

  .container-header {
    width: 100%;
    display: grid;
    margin-bottom: 200px;
    button {
      // width: 100px!important;
      margin-left: 100px;
      // margin-top: 10px;
      height: 40px;
    }
  }

  .container-login {
    display: grid;
    justify-content: space-between;
  }

  .container-login{
    margin-left: 20px;
    button {
      box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
      margin-left: 0;
      // margin-top: 20px;
    }
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container-home {
    width: 100%;
  }


  .container-info {
    margin-left: 10px;
    h1 {
      font-size: 45px;
    }
    button {
      width: 200px !important;
      margin-left: 0;
    }
  }

  .container-header {
    display: grid;
  }
  img {
    margin-right: 50px;
  }
  button {
    width: 200px!important;
    margin-left: 100px;
    margin-top: 10px;
    height: 40px;
  }

  .container-login{
    // margin-left: 20px;
    button {
      box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
      // margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 375px) {
  /* For a screen < 375px, this CSS will be read */
  #title {
    font-size: 40px;
    line-height: 40px!important;
  }
  .container-home {
    width: 100%;
  }

  .container-info {
    margin-left: 10px;
    // #title {
    //   font-size: 3rem;
    //   line-height: 2rem;
    // }
    .btn {
      width: 100%!important;
      margin: auto;
    }
  }

  .container-header {
    display: grid;
    margin-bottom: 70px;
  }
  // img {
  //   margin-right: 50px;
  // }
  // button {
  //   width: 50px!important;
  //   margin-left: 100px;
  //   margin-top: 10px;
  //   height: 40px;
  // }

  .container-login{
  //   margin-left: 20px;
  //   button {
  //     box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);
  //     margin-left: 0;
  //     margin-top: 20px;
  //   }
  }
}


#welcome-msg {
  font-weight: lighter;
}
