@import "home";

h1 {
  padding-bottom: 15px;
}

.carousel-img {
  object-fit: cover;
  border-radius: 10px;
}

// .carousel-inn {
//   box-shadow: 0px 0px 4px #e9e8e6;
//   border-radius: 10px;
// }

.carousel-card {
  box-shadow: 0px 0px 4px #e9e8e6;
  border-radius: 10px;
  margin-right: 0;
}

.row-show {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.row-restaurant {
  align-items: center;
  padding: 0;
  margin-right: 2rem!important;
}

@media (max-height: 375px) {
  .row-restaurant {
    margin-right: none!important;
  }
}

.row-reviews {
    margin-top: 20px;
    margin-right: 0px;
  }

.row-actions {
  margin-top: 20px;
  text-align: left;
}

.row-map {
  padding: 0;
  border-radius: 10px;
}

.review-login {
  font-weight: 600;
  color: $green;
  padding-top: 10px;
}


.review-text-container {
  margin-bottom: 50px;
}

.review {
  margin-top: 50px;
}

@media (max-width: 580px) {
  .carousel-img {
    width: 400px;
    height: 250px;
  }
}

.please-login {
  font-weight: bold;
}

.dropdown-toggle {
  width: 100%;
}

.dropdown-menu {
  width: 100%;
  box-shadow: 3px 3px 12px 2px rgba(#e4e0e0, 0.6);
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropdown-item:hover {
  background-color: $green;
  color: $white;
}

.buttons-show {
  margin-bottom: 10px;
  a {
    margin-right: 7px;
    margin-left: 7px;
  }
}


@media (max-width: 991px) {
  .restaurant-map {
    height: 500px!important;
  }
  .restaurant-index-search {
    display: grid!important;
    h2 {
      width: 95%!important;
    }
    .btn {
      margin-top: 7px!important
    }
  }
}
