@import "home";

h1 {
  padding-bottom: 15px;
}

.carousel-img {
  object-fit: cover;
  border-radius: 10px;
}

// .carousel-inn {
//   box-shadow: 0px 0px 4px #e9e8e6;
//   border-radius: 10px;
// }

.carousel-card {
  box-shadow: 0px 0px 4px #e9e8e6;
  border-radius: 10px;
  margin-right: 0;
}

.row-show {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.row-restaurant {
  align-items: center;
  padding: 0,
}

.row-reviews {
    margin-top: 20px;
  }

.row-actions {
  margin-top: 20px;
  text-align: left;
}

.row-map {
  padding: 0;
  border-radius: 10px;
}

.review-login {
  font-weight: 600;
  color: $green;
  padding-top: 10px;
}

.buttons a {
  margin: 10px;
}

.review-text-container {
  margin-bottom: 50px;
}

.review {
  margin-top: 50px;
}

@media (max-width: 580px) {
  .carousel-img {
    width: 400px;
    height: 250px;
  }
}
