  <!-- Footer -->
  <footer>

  <div class="footer-bg mt-5 pt-3">
    <!-- Grid container -->
    <div class="container my-4">
      <!--Grid row-->
      <div class="footer-things d-flex justify-content-between flex-wrap">

      <div class="logo-link">
      <%= image_tag "UF-white.svg", width: 250, id: "logo-footer" %>
            <div class="mt-3 pb-3">
              <a><i class="fab fa-facebook footer-icons facebook-icon"></i></a>
              <a><i class="fab fa-instagram footer-icons instagram-icon"></i></a>
              <a><i class="fab fa-linkedin footer-icons linkedin-icon"></i></a>
              <a><i class="fab fa-github footer-icons github-icon"></i></a>
            </div>
      <div class="copyright pt-3">
        <p>© 2021 Copyright: Urban Forage</p>
      </div>
      </div>

        <div class="info">
          <h5 class="text-uppercase font-weigth-bold mb-3">About us</h5>
            <p class="pb-2">
              <p class="mb-2">Meet our team</p>
            </p>
            <p>
              <p>Our projects</p>
            </p>
          </div>

        <div class="contact">
          <h5 class="text-uppercase mb-4">
            Contacts
          </h5>
          <div class="pr-0 mb-1">
          <p class="mb-2"><i class="fas fa-phone me-3"></i> + 351 911 902 020 </p>
          <p><i class="fas fa-home me-3"></i> Rua do Conde de Redondo 91B, 1150-103 Lisbon</p>
          </div>
        </div>
      </div>
      </div>
      </div>

</div>

    <!-- Copyright -->
  </footer>
