<div class="container-home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/landing-page.jpg);">
    <div class="container">
      <div class="container-title">
        <h1>Urban<br>Forage</h1>
      </div>
      <div class="container-info">
        <h2>Find restaurant experiences that <br>match your vibe</h2>
        <button class="btn btn-outline-light">Start curating</button>
      </div>
    </div>
  </div>
</div>
