<div class="container-home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/landing-page.jpg);">
    <div class="container-banner">
      <div class="container-header">
        <div class="container-title">
          <%= image_tag "logo-white", class: "logo" %>
        </div>
        <div class="container-login">
          <button class="btn btn-primary">Login</button>
          <button class="btn btn-outline-light">Sign up</button>
        </div>
      </div>
      <div class="container-info">
        <h1><span id="title">Find restaurant experiences that match <span class="highlight">your vibe</span></h1>
        <button class="btn btn-outline-light">Start curating</button>
      </div>
    </div>
  </div>
</div>
