<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="btn btn-primary">Button</button>
<button class="btn btn-outline-primary">Outlined Button</button>

<div class="darkbox d-flex">
  <button class="btn btn-light align-self-center">Button</button>
  <button class="btn btn-outline-light align-self-center">Outlined Button</button>
</div>
