<div class="modal fade" id="exampleModal" data-insert-in-list-target="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="background-color:#00000">We want to know about your experience!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" data-insert-in-list-target="closeModal">&times;</span>
        </button>
      </div>

      <%= simple_form_for([restaurant, review], remote: true) do |f| %>
        <div class="modal-body">
          <%= f.input :rating, as: :integer %>
          <%= f.input :description, as: :text %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save Changes", class: "btn btn-outline-primary" %>
          <button type="button" class="btn btn-primary" style="width:100px; height:58px" data-dismiss="modal">Close</button>
        </div>
      <% end %>

    </div>
  </div>
</div>
