.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 150px;
  border-radius: 8px !important;
  background-color: #F4F2E7 !important;
}
