.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  width: 300px;
  border-radius: 8px !important;
  background-color: $white !important;
  a {
    text-decoration: none!important;
  }
}

.mapboxgl-canvas {
  border-radius: 8px !important;
}
