#table {
  border-collapse: separate;
  border-spacing:0 20px;
  th {
    height: 60px;
    max-height: 80px;
  }
  td {
    max-width: 500px;
  }
}


.review-para {
  max-height: 40px;
  overflow: hidden;
}

.less {
  background-color: transparent;
  border: none;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.637);
  &:hover {
    text-decoration: underline;
  }
  font-size: 15px;
}

.hidden-btn {
  display: none;
}

.pagination {
  margin-left: 20px
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(255, 250, 240, 0.521)
}

@media (max-width: 770px) {

  #table {
    width: 100%;
  }
  tr {
    margin-top: 30px;
    display: grid;
  }
}
