.container-vibes {
  border: 5px;
  width: 100%;
  min-height: 100vh;
}

.cards-vibe {
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 4px 25px 1px rgba(0,0,0,0.37);
  p {
    margin: 0;
  }
  border: none!important;
}

.cards-vibe-label {
  width: 100%;
  margin-bottom: 15px;
}

.my-class {
  position: absolute;
  transform: scale(0);
 }

.my-class + label {
  cursor: pointer;
}

.my-class:checked + label .cards-vibe::before {
  left: 10%;
}

.my-class:checked + label .cards-info {
  top: 50%;
}


.cards-vibe:before {
  position: absolute;
  content: '';
  width: 80%;
  height: 220%;
  background: rgba(48,101,94,0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: .5s;
}

.cards-vibe:hover::before {
  left: 10%;
  }

.cards-info {
  font-family: $body-font;
  font-weight: bold;
  color: $white;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  transition: 0.8s;
}

.cards-info h3 {
  font-family: $body-font;
}

.cards-vibe:hover .cards-info {
  top: 50%;
}

.btn-ghost {
  color: $white;
  background-color: $green;
  border-width: thing;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 1px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 4px;
  box-shadow: 3px 3px 12px 2px rgba(#e4e0e0, 0.6);
}

.notice {
  margin: 0;
}



#alternative-image {
  background-image: url(asset-path('alternative-vibe.jpg'));
}

#earthy-image {
  background-image: url(asset-path('earthy-vibe.jpg'));
}

#cozy-image {
  background-image: url(asset-path('cozy-vibe.jpg'));
}

#minimalist-image {
  background-image: url(asset-path('minimalist-vibe.jpg'));
}

#scenic-image {
  background-image: url(asset-path('scenic-vibe.jpg'));
}

#melodic-image {
  background-image: url(asset-path('melodic-vibe.jpg'));
}
